<div class="row">
  <div class="col-md-5">
    <button type="button" class="btn btn-primary" (click)="createPDF()"><i class="fas fa-print"></i> Create PDF </button>&nbsp;&nbsp;&nbsp;
  </div>
  <div class="col-md-2">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupYear">Select Fiscal Year:</label>
      <select class="form-select" id="inputGroupYear" aria-label="" [(ngModel)]="selectFiscalYear" (change)="onChange()">
        <option *ngFor="let fy of fiscalYears" [value]="fy">{{fy}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupQuarter">Select Quarter:</label>
      <select class="form-select" id="inputGroupQuarter" aria-label="" [(ngModel)]="selectQuarter" (change)="onChange()">
        <option *ngFor="let fy of fiscalQuarters" [value]="fy">Quarter {{fy}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Select Summary:</label>
      <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectSummary" (change)="onChange()">
        <option selected value="Seizures">Seizures</option>
        <option value="Required">Required</option>
        <option value="Specific">Specific</option>
        <option value="Staffing">Staffing</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="Order">
          <th mat-header-cell *matHeaderCellDef  sticky> # </th>
          <td mat-cell *matCellDef="let row"> {{row.Order}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="ActivityName">
          <th mat-header-cell mat-activity *matHeaderCellDef  sticky> <b>Activity Name</b> </th>
          <td mat-cell *matCellDef="let row"> {{row.ActivityName}}  </td>
        </ng-container>

        <!-- Name Atlanta -->
        <ng-container matColumnDef="Atlanta">
          <th mat-header-cell *matHeaderCellDef > Atlanta </th>
          <td mat-cell *matCellDef="let row"> {{row.Atlanta | number }} </td>
        </ng-container>

        <!-- Name Baltimore -->
        <ng-container matColumnDef="Baltimore">
          <th mat-header-cell  *matHeaderCellDef > Baltimore </th>
          <td mat-cell *matCellDef="let row"> {{row.Baltimore | number}} </td>
        </ng-container>

        <!-- Name Boston -->
        <ng-container matColumnDef="Boston">
          <th mat-header-cell *matHeaderCellDef > Boston </th>
          <td mat-cell *matCellDef="let row"> {{row.Boston | number}} </td>
        </ng-container>

        <!-- Name Chicago -->
        <ng-container matColumnDef="Chicago">
          <th mat-header-cell *matHeaderCellDef > Chicago </th>
          <td mat-cell *matCellDef="let row"> {{row.Chicago | number}} </td>
        </ng-container>

        <!-- Name Cleveland -->
        <ng-container matColumnDef="Cleveland">
          <th mat-header-cell *matHeaderCellDef > Cleveland </th>
          <td mat-cell *matCellDef="let row"> {{row.Cleveland | number}} </td>
        </ng-container>

        <!-- Name Dallas -->
        <ng-container matColumnDef="Dallas">
          <th mat-header-cell *matHeaderCellDef > Dallas </th>
          <td mat-cell *matCellDef="let row"> {{row.Dallas | number}} </td>
        </ng-container>

        <!-- Name Denver -->
        <ng-container matColumnDef="Denver">
          <th mat-header-cell *matHeaderCellDef > Denver </th>
          <td mat-cell *matCellDef="let row"> {{row.Denver | number}} </td>
        </ng-container>
        <!-- Name Baltimore -->
        <ng-container matColumnDef="Detroit">
          <th mat-header-cell *matHeaderCellDef > Detroit </th>
          <td mat-cell *matCellDef="let row"> {{row.Detroit | number}} </td>
        </ng-container>

        <!-- Name ElPaso -->
        <ng-container matColumnDef="ElPaso">
          <th mat-header-cell *matHeaderCellDef > ElPaso </th>
          <td mat-cell *matCellDef="let row"> {{row.ElPaso | number}} </td>
        </ng-container>

        <!-- Name Houston -->
        <ng-container matColumnDef="Houston">
          <th mat-header-cell *matHeaderCellDef > Houston </th>
          <td mat-cell *matCellDef="let row"> {{row.Houston | number}} </td>
        </ng-container>

        <!-- Name Kansas City -->
        <ng-container matColumnDef="KansasCity">
          <th mat-header-cell *matHeaderCellDef > Kansas City </th>
          <td mat-cell *matCellDef="let row"> {{row.KansasCity | number}} </td>
        </ng-container>

        <!-- Name Los Angeles -->
        <ng-container matColumnDef="LosAngeles">
          <th mat-header-cell *matHeaderCellDef > Los Angeles </th>
          <td mat-cell *matCellDef="let row"> {{row.LosAngeles | number}} </td>
        </ng-container>

        <!-- Name New York -->
        <ng-container matColumnDef="NewYork">
          <th mat-header-cell *matHeaderCellDef > New York </th>
          <td mat-cell *matCellDef="let row"> {{row.NewYork | number}} </td>
        </ng-container>

        <!-- Name Phoenix -->
        <ng-container matColumnDef="Phoenix">
          <th mat-header-cell *matHeaderCellDef > Phoenix </th>
          <td mat-cell *matCellDef="let row"> {{row.Phoenix | number}} </td>
        </ng-container>

        <!-- Name Sacramento -->
        <ng-container matColumnDef="Sacramento">
          <th mat-header-cell *matHeaderCellDef > Sacramento </th>
          <td mat-cell *matCellDef="let row"> {{row.Sacramento | number}} </td>
        </ng-container>

        <!-- Name SanDiego -->
        <ng-container matColumnDef="SanDiego">
          <th mat-header-cell *matHeaderCellDef > San Diego </th>
          <td mat-cell *matCellDef="let row"> {{row.SanDiego | number}} </td>
        </ng-container>

        <!-- Name SanJuan -->
        <ng-container matColumnDef="SanJuan">
          <th mat-header-cell *matHeaderCellDef > SanJuan </th>
          <td mat-cell *matCellDef="let row"> {{row.SanJuan | number}} </td>
        </ng-container>

        <!-- Name StLouis -->
        <ng-container matColumnDef="StLouis">
          <th mat-header-cell *matHeaderCellDef > St. Louis </th>
          <td mat-cell *matCellDef="let row"> {{row.StLouis | number}} </td>
        </ng-container>

        <!-- Name Tampa -->
        <ng-container matColumnDef="Tampa">
          <th mat-header-cell *matHeaderCellDef > Tampa </th>
          <td mat-cell *matCellDef="let row"> {{row.Tampa | number}} </td>
        </ng-container>

        <!-- Name Total -->
        <ng-container matColumnDef="Total">
          <th mat-header-cell *matHeaderCellDef > Total </th>
          <td mat-cell *matCellDef="let row"> {{row.Total | number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->

      </table>
    </div>
    
  </div>
</div>

