<div class="card">
  <div class="section-header">
    <label class="required-label">Challenges</label>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        Please describe briefly any operational (including any T-III issues related to encryption), staffing, fiscal, or other challenges the Strike Force is facing and steps you are taking or intend to take to meet these challenges.  [Use as much space as necessary.]
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <ckeditor id="inputChallenges" [config]="{ height: '400px' }" [(ngModel)]="currentReport.Challenges"></ckeditor>
      </div>
    </div>
    
    <!--<ckeditor id="inputChallenges" [config]="{ height: '400px' }" [(ngModel)]="currentReport.Challenges"></ckeditor>-->

  </div>
</div>
