<div class="card">
  <div class="section-header required-label">Structure</div>

  <div class="card-body">
    <p>
      [EXAMPLE]
      Co-located groups supervised by ATF, DEA, FBI, or HSI supervisors with FBI and DEA supervisors responsible for the daily supervision of personnel assigned to their squads or groups. Policy, planning, and resource allocation is jointly managed by DEA, FBI, and HSI SACs and the AUSA.<br />
      <br />
      It is comprised of four groups: DEA Group 1; FBI Group 1; FBI Group 2; HSI Group 1
    </p>

    <ckeditor class="notes-box" id="inputStructure" [config]="{ height: '400px' }" [(ngModel)]="currentReport.Structure"></ckeditor>

  </div>

</div>
